* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}


body {
  background: linear-gradient(to bottom right, #c1d8f8, #c7cefc);
  color: #333;
}

header {
  display: flex;
  background-color: #fcf9f9;
  padding: 20px 40px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  font-weight: bold;
  color: #3f458e;
  font-size: 20px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  flex-wrap: wrap;
  background-image: url(./assets/backElias.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.form-section {
  display: flex;
  max-width: 1000px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.form-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  width: 350px;
}

.form-box h2 {
  margin-bottom: 10px;
}

.form-box p {
  font-size: 14px;
  margin-bottom: 20px;
}

.form-box a {
  color: #d60087;
  text-decoration: none;
}

.form-box label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.form-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-box button {
  width: 100%;
  background-color: #d60087;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.form-box button:hover {
  background-color: #aa006d;
}

.social-login {
  text-align: center;
  margin-top: 10px;
}

.social-login .icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 8px;
}

.social-login img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.elias-image img {
  width: 350px;
  border-radius: 50%;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
}

footer {
  background-color: #1e1e1e;
  color: #ccc;
  padding: 50px 30px 20px;
   
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
 
  
}

.footer-box {
  flex: 1 1 200px;
}

.footer-box h3,
.footer-box h4 {
  color: white;
  margin-bottom: 10px;
}

.footer-box p, .footer-box li {
  font-size: 14px;
  margin-bottom: 8px;
  list-style: none;
}

.footer-box ul {
  padding: 0;
}

.social-icons i {
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.social-icons i:hover {
  color: #d60087;
}

copyright {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  color: #888;
}

@media (max-width: 768px) {
  .form-section {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .elias-image img {
    width: 200px;
  }
  
  header {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
}
